:host {
  display: block;
}

.entry-meta {
  white-space: pre-wrap;
  font-size: 0.95rem;
  color: #4b5563;
  margin-bottom: 12px;
}

.entry-content {
  white-space: pre-wrap;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.95rem;
  line-height: 1.4;
  margin: 0;
}
